/**
 * Icon List Block - Editor Styles
 */

.wp-block-chance-icon-list {
	li {
		cursor: pointer;

		&:last-child {
			margin-bottom: 0;
		}

		img {
			flex-shrink: 0;
			object-fit: contain;
		}

		span {
			flex: 1;
		}
	}
}
