.tm-table-cell {
	border: 1px solid var(--wp--preset--color--lightest-gray);
	padding: 0 5px;
	align-items: center;
	display: flex;
	.wp-block-paragraph {
		width:100%;
		font-size: 1rem;
		margin-top:0;
		text-align:center;
		font-weight: 300;
		line-height: 1;
		text-wrap: balance;
	}
}
	