// https://codepen.io/vii120/pen/KwMJeXP
* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	padding: 24px;
	background-color: #ececec;
	font-family: "Space Grotesk", sans-serif;
}

.container {
	width: 720px;
	max-width: 100%;
	margin: 48px auto;
}

.menu {
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	font-weight: 500;
	position: relative;
	color: #555;
	transform-style: preserve-3d;
	perspective: 1000px;

	@media (min-width: 768px) {
		font-size: 2.25rem;
	}
}

.menu-item {
	height: 5rem;
	padding: 0 1.5rem;
	display: flex;
	align-items: center;
	cursor: pointer;
	border-bottom: 1px solid currentColor;
	transition: color 0.3s ease;

	@media (min-width: 768px) {
		height: 7.5rem;
		padding: 0 3rem;
	}

	&:hover {
		color: #222;

		.menu-text {
			transform: translateX(1rem);
		}
	}
}

.menu-text {
	transition: transform 0.3s ease;
}

.thumbnail-container {
	position: absolute;
	top: 0;
	right: 1.5rem;
	height: 5rem;
	aspect-ratio: 4/3;
	pointer-events: none;
	transform-style: preserve-3d;
	transition: transform 0.3s ease;

	@media (min-width: 768px) {
		right: 3rem;
		height: 7.5rem;
	}
}

.thumbnail {
	width: 100%;
	height: 100%;
	object-fit: cover;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	&.thumbnail-front {
		transform: rotateX(0deg);
	}

	&.thumbnail-back {
		transform: rotateX(180deg);
	}
}

// .slow-mode-control {
// 	position: fixed;
// 	top: 1rem;
// 	right: 1rem;
// 	display: flex;
// 	align-items: center;
// 	gap: 0.5rem;
// 	cursor: pointer;
// 	user-select: none;
// }

// .toggle {
// 	width: 3rem;
// 	height: 1.75rem;
// 	padding: 0.25rem;
// 	border-radius: 9999px;
// 	border: 1px solid currentColor;
// 	display: flex;
// 	align-items: center;
// 	justify-content: flex-start;
// 	color: #facc15;
// 	background-color: #fefce8;
// 	filter: grayscale(1);
// 	transition: filter 0.3s ease;

// 	.slow-mode-control.active & {
// 		justify-content: flex-end;
// 		filter: grayscale(0);
// 	}
// }

// .toggle-knob {
// 	height: 100%;
// 	aspect-ratio: 1/1;
// 	border-radius: 9999px;
// 	background-color: currentColor;
// 	transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

// 	.slow-mode-control.active & {
// 		transform: translateX(1.25rem);
// 	}
// }

