// @use "./style.scss"; // Tutorial rec: re-import style.scss so editor styles match frontend (causes double-load via block.json)

/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

// Reset theme global element styles that bleed into the editor
.wp-block-chance-cover-card {
	.cover-card .button {
		margin: 0;
		line-height: 1;
		box-shadow: none;
		transform: none !important;
	}

	.cover-card h4.dates {
		font-size: 1em;
		margin: 0;
	}
}
