.tm-table-advanced {
	// border-collapse: collapse;
	// border: 2px solid rgb(255, 0, 0);
	// letter-spacing: 1px;
	table-layout: auto;
	width: 100%;
	&.table-layout-fixed {
		table-layout: fixed;
	}
}
