.performances-list-editor {
	.performances-list-placeholder {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 2rem;
		background: #f0f0f0;
		border: 1px dashed #999;
		border-radius: 4px;
		text-align: center;

		.dashicons {
			font-size: 2rem;
			width: 2rem;
			height: 2rem;
			color: #555;
		}

		p {
			margin: 0.5rem 0 0;
			font-weight: 600;
			color: #333;
		}

		.description {
			font-weight: 400;
			font-size: 0.85em;
			color: #666;
		}
	}
}
