.tm-table-body {
	// > .tm-table-row:nth-of-type(even) {
	// 	background-color: var(--wp--preset--color--lightest-grey);
	// }
}

.horizontal-scroll {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.vertical-scroll {
	overflow-x: hidden;
	overflow-y: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}