.wp-block-chance-subtitle-title {
	.subtitle-title__subtitle {
		// display: block;
		font-weight: 600;
		margin-block-start:0;
		margin-block-end:0;
	}

	.subtitle-title__title {
		// display: block;
		font-weight: 500;
	}
}
